{% extends 'base.html.twig' %}

{% block body %}
<section class="section section-contact">
    <div class="contact-card">
        <div class="section-main-title text-center mb-5 show-in">
            Get In Touch
        </div>
        {% for message in app.flashes('success') %}
            <div class="flash-success text-center">
                <div class="flash-message">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {{ form_start(form, {attr: {class: 'contact-form'}}) }}
        <div class="row show-in">
            <div class="col-md-6 col-sm-12">
                <div class="col-md-12">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-12 mt-4 mb-3">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 mb-3">
                    {{ form_row(form.message) }}
                </div>

            </div>
            <div class="col-md-12 text-center">
                <button class="btn project__visit">Envoyer</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</section>
<section class="section section-social">
    <div class="section-main-title text-center mb-5 show-in">
        Mes réseaux
    </div>
    <div class="social-link">
        <a href="https://www.linkedin.com/in/florian-mottura" target="_blank">
            <strong>LinkedIn</strong>
            <img src="{{ asset('build/images/contact/linkedin.svg') }}" alt="Logo LinkedIn" class="social__icon">
        </a>
        <a href="https://gitlab.com/Flomtr" target="_blank">
            <strong> Gitlab</strong>
            <img src="{{ asset('build/images/contact/GitLab_Logo.svg') }}" alt="Logo LinkedIn" class="social__icon">
        </a>
    </div>
</section>
{% endblock %}

