{% extends 'base.html.twig' %}
{% block body %}
    <div class="hero" id="particles-js">
        <div class="hero__content">
            <div class="hero__myself">
                Hello, je suis
                <span class="hero__name" id="typewriter-hello"></span>
            </div>
            <div class="hero__name" id="typewriter">
            </div>
        </div>
    </div>
        {{ include('section/section-about.html.twig') }}
        {{ include('section/section-competences.html.twig') }}
        {{ include('section/section-project.html.twig') }}
{% endblock %}