{% block body %}
    <section class="section section-competences" id="competences">
        <div class="section-main-title show-in">
            Mes Compétences
        </div>
        <div class="competences show-in">
        {# Backend #}
            <div class="competence mb-3">
                <img src="{{ asset('build/images/symfony.svg') }}" class="competence__logo mr-2" alt="logo-symfony">
                <img src="{{ asset('build/images/php.svg') }}" class="competence__logo" alt="logo-php">
                <div class="competence-title">
                    Symfony & PHP Backend
                </div>
                <p>
                    Depuis plus de 2 ans je développe avec PHP couplé au Framework Symfony 4-5.
                    Je suis capable de démarrer un projet From Scratch ainsi que de mettre en place l'environnement
                    nécessaire.
                </p>
            </div>
            {# Frontend #}
            <div class="competence ml-md-3 mb-3">
                <img src="{{ asset('build/images/react-js.svg') }}" class="competence__logo" alt="logo-react">
                <div class="competence-title">
                    React pour le Frontend
                </div>
                <p>
                    Je me forme sur React depuis peu sur mon temps libre, accordant une place importante à l'ergonomie
                    et au design, je prend beaucoup de plaisir à découvrir cette bibliothèque.
                </p>
            </div>
        </div>
    </section>
{% endblock %}