{% block body %}
    <section class="section section-projects" id="projects">
        <div class="section-main-title show-in">
            Mes Réalisations
        </div>
        <div class="projects show-in">
            {# Avenria #}
            <div class="project mb-3 mr-3">
                <a href="{{ path('app_project_avenria') }}" class="projects__img">
                    <img src="{{ asset('build/images/projects/avenria-test.jpg') }}" alt="Avenria">
                </a>
                <div class="project__content">
                    <div class="project__technos">Symfony 4, Bootstrap 4, JQuery, MySQL</div>
                    <div class="project__name">Avenria</div>
                    <div class="project__description">
                        <p>Développement From Scratch et intégration Desktop, Tablettes de l'application Avenria.
                        Cette application est disponible pour les établissements scolaire, il permet aux jeunes de
                        pouvoir mieux s'orienter en fonction des choix qu'ils font sur l'application.</p>
                    </div>
                    <a href="{{ path('app_project_avenria') }}" class="project__visit">En savoir plus</a>
                </div>
            </div>
            {# Mon Foyer #}
            <div class="project mb-3 ml-3">
                <a href="https://www.residence-monfoyer.com" target="_blank" class="projects__img">
                    <img src="{{ asset('build/images/projects/mon-foyer-test.jpg') }}" alt="Mon Foyer">
                </a>
                <div class="project__content">
                    <div class="project__technos">Symfony 4, Bootstrap 4, JQuery, MySQL</div>
                    <div class="project__name">Mon Foyer</div>
                    <div class="project__description">
                        <p>
                            Mon premier projet suite à ma reconversion.
                            Développement From Scratch et intégration responsive du site vitrine de la maison de retraite
                            Mon Foyer. <br>
                        </p>
                    </div>
                    <a href="https://www.residence-monfoyer.com" target="_blank" class="project__visit">
                        Visiter le site
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}