{% block body %}
    <section class="section section-about" id="about">
        <div class="section-main-title show-in">
            À propos
        </div>
        <div class="section-about-content show-in">
            <p>
                Suite à une reconversion professionnelle début 2018, j'ai suivi une formation à la 3W Academy sur Lyon.
                Je réalise mon premier projet professionnel bénévolement d'Avril à Juin 2018,
                qui me permettra de me faire une première expérience et de valider mon diplôme, j'en profite
                également pour découvrir le Framework Symfony sur la version 4 et approfondir mes connaissances sur
                JavaScript / JQuery, Twig & MySQL.
            </p>
            <p>
                En Juillet 2018 je rejoins une société pour réaliser From Scratch et seul un projet Web pour un client qui
                souhaite lancer sa Start-up dans l'éducation, cette Application à pour objectif d'aider les jeunes dans
                leur orientation scolaire.
            </p>
            <p>
                C'est un challenge que j'ai souhaité relevé, étant seul sur le projet j'ai pu y découvrir toute les
                facettes, de la rédaction du cahier des charges à la rédaction de la documentation technique,
                développement et tests, et mise en pré-production et déploiement en production.
            </p>
            <p>
                L'application a été commercialisée fin 2019 aux établissements scolaire, à ce jour, je continue de faire
                évoluer cette application.
            </p>
        </div>
    </section>
{% endblock %}