.contact-card {
  background: #1B1E3D;
  padding: 20px;
}
.contact-form textarea {
  width: 100%;
  min-height: 137px;
  padding: 15px;
}

input, textarea {
  padding: 16px;
  border: 1px solid #0d3361;
  color: #fff;
  width: 100%;
  background-color: transparent;
  transition: border .3s;
}

input:focus, textarea:focus {
  border: 1px solid $golden;
  background-color: transparent;
  outline: none !important;
}

.social-link {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid #0d3361;
    border-radius: 5px;
    transition: .2s;
    color: #FFF;
    width: 300px;
    margin: 10px;
    font-size: 20px;

    &:hover {
      border: 1px solid $golden;
      text-decoration: none;
      color: $golden;
    }
  }
}

.social__icon {
  width: 50px;
  height: 50px;
}

.flash-message {
  border: 1px solid $golden;
  width: 65%;
  padding: 15px;
  margin: auto auto 25px;
}

