.footer {
  padding: 50px 0px;
  background-color: #1f223e;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}

.footer a {
  color: $golden;
  text-decoration: none;
  &:hover {
    color: #FFFFFF;
  }
}