.hero {
  background: url("../../images/Flat-Mountains.svg") 0 100% no-repeat;
  min-height: 90vh;
  display: flex;
  padding-top: 5em;
  overflow: hidden;
  z-index: 1;
}
.hero__content {
  position: relative;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.hero__myself {
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center
}

.hero__name {
  color: $golden;
}