.header__logo img{
  height: 80px;
  width: auto;

}

.header__logo {
  display: block;
  &:hover {
    transform: scale(1.2);
    transition: .2s;
  }
}

.header {
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.header ul {
  margin-left: auto;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header li {
  margin-left: 20px;
  margin-right: 20px;
}

.header li a {
  line-height: 30px;
  padding: 15px 0;
  position: relative;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: none;
  font-size: 14px;
  display: block;
  transition: .3s;
  text-decoration: none;

  &:hover {
    color: $golden;
  }
}

.header li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid;
  width: 0;
  height: 1px;
  opacity: 0;
  transition: .3s;
  color: $golden;
}

.header li a:hover:before {
  opacity: 1;
  bottom: 0;
  width: 100%;
}

.header .header__contact {
  border: 1px solid $golden;
  background: transparent;
  display: inline-block;
  border-radius: 5px;

  &:hover{
    text-decoration: none;
    background-color: $golden;
  }
}

.header a.header__contact {
  padding: 5px 15px;
  &:hover {
    color: $main-blue;
  }
}