.project__header {
  padding-top: 120px;
  padding-bottom: 120px;
}
.project-header-title,
.project-avenria-title{
  color: $golden;
}

.project-header-details {
  margin-top: 20px;
  font-size: 18px;
}

.project__avenria {
  background-color: #171933;
  li {
    list-style: none;
    padding: 8px 0;
  }
  li:before {
    content: "- ";
  }
}