
.section-about, .section-projects, .section-contact {
  background-color: $alt-blue;
}
.section-competences {
  background: url("../../images/Subtle-Prism.svg") 0 fixed no-repeat;
}
.section-main-title {
  font-size: 40px;
  color: $golden;
  margin-bottom: 20px;
  font-weight: bold;
}
.competences, .projects {
  display: flex;
  margin-top: 3em;
  z-index: 5;
}

.competence {
  border: 1px solid darken($golden, 40%);
  flex-basis: 100%;
  padding: 30px;
  border-radius: 5px;
  &:hover {
    border: 1px solid $golden;
    transition: .2s;
    .competence-title {
      color: $golden;
      transition: .2s;
    }
  }
}

.competence__logo {
  display: inline-block;
  width: 60px;
  margin-bottom: 30px;

}

.competence-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: $main-blue;
  width: 50%;
  &:hover {
    border-bottom: 2px solid $golden;
  }
}

.projects__img {
  overflow: hidden;
  height: auto;
  flex: none;

  &:hover img {
    transform: scale(1.1);
  }
}

.projects__img img {
  max-width: 100%;
  transition: .5s;
  display: block;
  height: auto;
}

.project__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 40px 30px;
}

.project__technos {
  color: $golden;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.project__name {
  text-transform: uppercase;
  margin: 10px 0 20px;
}

.project__visit {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: $golden;
  font-size: 12px;
  line-height: 2;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px 30px;
  border: 1px solid darken($golden, 40%);
  border-radius: 2px 2px 2px 2px;
  transition: .3s;
  text-decoration: none!important;

  &:hover {
    color: $main-blue!important;
    background-color: $golden;
  }
}

.project__role {
  padding: 20px;
  margin: 5px;
  border: 1px solid darken($golden, 30%);
  border-radius: 5px;

  &:hover {
    border: 1px solid $golden;
    transition: .2s;
  }
}
