$main-blue: #1B1E3D;
$golden: #5396E7; // Texte Bleu
$alt-blue: #171933;
@import "~bootstrap";

// Animations
// ==================s
@import "animations/animations";

// Modules
// ==================s
@import "modules/nav";
@import "modules/hero";
@import "modules/section";
@import "modules/footer";
@import "modules/project";
@import "modules/contact";

// Outils
// ==================s
@import "tools/typography";
@import "tools/particles";
@import "tools/scrollbar";
* {
    cursor: url("../images/dot/dot.svg") 8 8 ,auto;
}
*:hover {
    cursor: url("../images/dot/dot.svg") 8 8 ,auto;
}
body {
    background-color: $main-blue;
    font-family: $font;
    font-size: 16px;
    line-height: 1.4;
    overflow-x: hidden;
    color: #FFFFFF;

}
h1,h2,h3,h4 {font-weight: bold;}
p {font-family: $font-alt; font-size: 18px;}


ul{padding-left: 0;}

.header,
.section,
.hero,
.page-header{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.page-header,
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media (min-width: 1181px) {
    .hero, .section, .page-header {
        padding-left: calc(50vw - 570px);
        padding-right: calc(50vw - 570px);
        background-size: cover;
    }
}

@media (max-width: 770px) {
    .projects, .competences {
        display: block;
    }
    .project {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
    }
    .social-link {
        display: block;
    }
    .social-link a {
        margin: auto auto 20px;
    }
}
