<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MJQGRH6');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <title>{% block title %}Florian Mottura | Portfolio {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap" rel="stylesheet">
        {% endblock %}
        <link rel="icon" href="{{ asset('build/images/icon/favicon.ico') }}" type="image/ico">
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJQGRH6"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <nav class="container header">
            <a href="{{ path('app_home') }}" class="header__logo">
                <img src="{{ asset('build/images/logo-flo.jpg') }}" alt="logo">
            </a>
            <ul>
                <li>
                    <a href="{{ path('app_project') }}">PROJETS</a>
                </li>
                <li>
                    <a href="{{ path('app_contact') }}" class="header__contact">Contact</a>
                </li>
            </ul>
        </nav>
        {% block body %}
            {{ include(':pages:home.html.twig') }}
        {% endblock %}
        <footer class="footer show-in">
            Intégration & Développement
            <a href="https://www.linkedin.com/in/florian-mottura/" target="_blank">
                Florian Mottura
            </a>
            - {{ "now"|date("Y") }}
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
