{% extends "base.html.twig" %}

{% block body %}
    <div class="project__header page-header show-in">
        <div class="project-header-title">
            <h2>Avenria</h2>
        </div>
        <div class="project-header-details">
            <p>
                Développement d'une application pour l'orientation scolaire des jeunes.
            </p>
        </div>
    </div>
    <section class="section project__avenria">
        <div class="row show-in">
            <div class="col-md-12 mb-3">
                <h4 class="project-avenria-title">Intégration & Développement Symfony 4</h4>
            </div>
            <div class="col-md-6">
                <p>
                    Ce projet m'a été confié lorsque j'ai rejoins ma première entreprise en Juillet 2018, le projet du
                    client : développer une application à destination des établissements scolaire afin d'aider les jeunes
                    à mieux s'orienter durant tout leur parcours scolaire.
                    L'application est commercialisée depuis fin 2019.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Le client avait une idée bien précise et avait développé un algorithme complet sur Excel concernant
                    le traitement des données et des choix des utilisateurs, je l'ai donc réecris complètement en PHP
                    afin qu'il soit parfaitement similaire à celui fourni sur Excel.
                </p>
            </div>
        </div>
        <div class="row show-in">
            <div class="col-md-6 mb-3">
                <img src="{{ asset('build/images/projects/avenria-test.jpg') }}" class="img-fluid" alt="Accueil Avenria">
            </div>
            <div class="col-md-6">
                <img src="{{ asset('build/images/projects/avenria-modules.jpg') }}"  class="img-fluid" alt="Accueil Avenria">
            </div>
        </div>
        <div class="row mt-3 show-in">
            <div class="col-md-12">
                <h4 class="project-avenria-title">
                    Des modules ludiques
                </h4>
            </div>
            <div class="col-md-12">
                <p>
                    8 modules sont disponibles, le client est passé par une agence de WebDesign pour l'application, j'ai
                    intégré les maquettes fournies. <br>
                    Les modules sont ludiques, facile à prendre en main et à comprendre, des barres de progressions
                    permettent à l'utilisateur de connaître sa progression globale et par module.
                </p>
                <p>
                    Une analyse est disponible à partir du moment ou il commence à compléter les modules, complètement
                    ou partiellement, plus il aura renseigné de choix, plus précise sera l'analyse et les métiers
                    proposés !
                </p>
            </div>
        </div>
        <div class="row show-in">
            <div class="col-md-6 mb-3">
                <img src="{{ asset('build/images/projects/avenria-analyse.jpg') }}" alt="Avenria Analyse" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h4 class="project-avenria-title">Une analyse détaillée</h4>
                <p>
                    Sur la partie Analyse, l'utilisateur va pouvoir découvrir les métiers qui peuvent potentiellement
                    lui correspondre.
                </p>
                <p>
                    Tout est détaillé ! Descriptif du métier, études pour y arriver, écoles, concours ... <br>
                    Un indicateur entre ses compétences et celles requises pour le métier. La possibilité de "Liker"
                    des métiers qui lui plaisent, qu'il pourra retrouver dans ses futures analyses.
                </p>
                <p>
                    Des filtres sont applicables, si il veut uniquement une liste de métier nécéssitant un Bac + 5 par
                    exemple, ou encore un sytème de recherche sur les métiers et leur descritpif.
                </p>
            </div>
        </div>
        <div class="row mt-3 show-in">
            <div class="col-md-12">
                <h4 class="project-avenria-title">Admninistration</h4>
                <p>
                    Une interface d'admninistration complète à également été développé afin de permettre au client de
                    tout gérer sur l'application. Les enseignants qui utilise l'application on également une partie
                    admninistration dédiée, gérer leur élèves, statistiques etc..
                </p>
            </div>
        </div>
        <hr>
        <div class="row mt-3 justify-content-center show-in">
            <div class="col-md-4 project__role">
                <h4 class="project-avenria-title">Rôles</h4>
                <ul>
                    <li>Intégrateur</li>
                    <li>Développeur</li>
                </ul>
            </div>
            <div class="col-md-4 project__role">
                <h4 class="project-avenria-title">Technologies & Outils</h4>
                <ul>
                    <li>Symfony 4</li>
                    <li>Bootstrap 4</li>
                    <li>JS / JQuery</li>
                    <li>GIT</li>
                </ul>
            </div>
        </div>
        <hr>
    </section>
{% endblock %}