{% extends 'base.html.twig' %}

{% block body %}
    <div class="project__header page-header show-in">
        <div class="project-header-title">
            <h2>Expériences & Projets</h2>
        </div>
        <div class="project-header-details">
            <p>
                Vous trouverez ci-dessous les projets sur lesquels je suis intervenu !
            </p>
        </div>
    </div>
    {% include "section/section-project.html.twig" %}
{% endblock %}

